.container{
    background-color: white;
}

/*https://color.adobe.com/sv/KAB-color-theme-9372738/*/

input[type="number"]{
    width: 20%;
    font-weight: bold;
}


.h2{
    margin-bottom: 1em;
    font-weight: 700;
}

.h3{
    padding-left: .5em;  
    text-align: left;
    font-size: 1.3em;
    min-height: 2.2em;
}

.h4{    
    padding-left: .5em;
    text-align: left;     
    color:black;
    font-weight:bold;
    font-size: 1.3em;
}

.h5{
    padding-left: .5em;
    text-align: left;
    color:dimgrey;
    text-decoration:line-through;   
    font-weight:bold;
    font-size: 1.3em;
}


