html, body {
    height: 100%;
    background-color: #ffffff;
}

.container {
    margin-bottom: 6em;
}

/* Header */
header a {
    color: #ffffff;
}

    header a:hover, header a:active, a:focus {
        color: #ffffff;
    }

#login, .headerSpace {
    display: none;
}

.navbar-inverse {
    background-color: #232625;
}

    .navbar-inverse .navbar-toggle {
        border: none;
    }

        .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
            background-color: #232625;
        }

    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }

    .navbar-inverse .navbar-brand {
        color: #ffffff;
    }

@media (min-width: 768px) {
    header {
        position: relative;
        background-color: #232625;
    }

        header .navbar {
            position: initial;
            margin-bottom: 0;
            height: 100vh;
        }

        header .navbar-nav {
            width: 100%;
        }

        header nav {
            float: left;
            width: 35%;
            max-width: 380px;
        }

        header .navbar-inverse {
            border: none;
        }

    .navbar-header {
        display: block;
        float: none;
    }

    header .navbar-nav > li {
        display: block;
        float: none;
        width: 100%;
    }

    .headerSpace {
        color: #232625;
        display: inline-block;
        width: 65%;
    }

    #login {
        display: inline-block;
        padding: 1em;
        text-align: right;
    }
}

@media (min-width: 1000px) {
    header nav {
        float: left;
        width: 30%;
    }
}

/* Navbar */
.navbar {
    border-radius: 0;
}

.nav .category {
    display: none;
}

@media (min-width: 768px) {
    .nav .category {
        display: block;
    }
}

/* Footer navbar */
.navbar-fixed-bottom {
    padding-top: .5em;
    background-color: #ffffff;
    -webkit-box-shadow: 0px -2px 3px 0px rgba(0,45,61,0.36);
    -moz-box-shadow: 0px -2px 3px 0px rgba(0,45,61,0.36);
    box-shadow: 0px -2px 3px 0px rgba(0,45,61,0.36);
}

.navIcon {
    display: block;
    text-align: center;
    font-size: .9em;
    padding-top: .5em;
    font-weight: 700;
}

.navbar-fixed-bottom .glyphicon {
    font-size: 1.5em;
    display: block;
    text-align: center;
}

.navbar-fixed-bottom .navbar-nav {
    display: block;
    float: none;
    margin: 0;
}

.navbar-fixed-bottom ul {
    width: 100%;
}

.navbar-fixed-bottom li {
    width: 24.2%;
    display: inline-block;
}

@media (min-width: 768px) {
    .navbar-fixed-bottom {
        display: none;
    }
}

/* Varukorg */
#itemCount {
    position: absolute;
    /*display: none;*/
    top: 0;
    left: 50px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #B02600;
    color: white;
    text-align: center;
}

.floatContainer {
    overflow: hidden;
}

/* Moms-knapp */
#vatButton {
    float: right;
}




/*******************************
KNAPPAR
*******************************/

.btn-primary {
    background-color: #B02600;
    border: none;
}

/*******************************
TEXT
*******************************/

a {
    color: #002D3D;
}

/* Felmeddelanden */
.error {
    color: #a94442;
}
